body{
    background-color: black;
    color: white;
}
h1 ,h2 ,h3{
    color: red;
    font-family: Arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
}
summary{
    font-family: Arial, helvetica, sans-serif;
    color: yellow;
    font-size: large;
    font-weight: bold;

}
.container{
    width: 80%;
   padding: 10px;
   margin: 20px auto;
   border: 3px solid turquoise;
   
}