<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stt.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Business Portal </title>
</head>
<body>
    <header>
        <h1> Business Portal </h1>
    </header>
    <main>
 <div class="column-card">
     <h2>Company Directory</h2>
   <p> Find information about our teams, departments, and employees. </p>
 <p> Learn more about
    <span class="tooltip">
       CSS <span class="tooltiptext">Cascading Style Sheets</span>
     </span> and how it controls the appearance of this page. </p>
 <a href="">Explore Directory</a>
 </div>
 <div class="column-card">
<h2>Business Resources</h2>
<p> Access useful resources, company information, and helpful business tools. </p>
</div> 
</main>

<aside>
 <h2>Quick Note</h2>
 <p> Hover over the highlighted technical terms to see their definitions. </p>
 </aside>  
       
 <footer>
        <p>&copy; 2026 Business Portal. All rights reserved.</p>
    </footer>
<p><a href="../../index.html">home</a></p>
</body>
</html>